.container{

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:stretch;
    background-color: rgb(224, 214, 214);
    width: 400px;
    height: 400px;
    color: white;
}

.r1{
    background-color: blue;
}

.r2{
    background-color: brown;
}

.r3{
    background-color: black;
}

.rect{
 width: 100px;
 height: 100px;
}